# Pandas

In [2]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
label = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = my_data, index=label)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data, label)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr,label)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(data=label)

0    a
1    b
2    c
dtype: object

In [13]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [14]:
ser1 = pd.Series([1,2,3,4],['Cambodia', 'South Korea', 'Japan', 'USA'])

In [15]:
ser1

Cambodia       1
South Korea    2
Japan          3
USA            4
dtype: int64

In [16]:
ser2 = pd.Series([1,2,5,4],['Cambodia', 'South Korea', 'China', 'USA'])

In [17]:
ser2

Cambodia       1
South Korea    2
China          5
USA            4
dtype: int64

In [18]:
ser1['USA']

4

In [19]:
ser3 = pd.Series(data=label)

In [20]:
ser3

0    a
1    b
2    c
dtype: object

In [21]:
ser3[2]

'c'

In [22]:
ser1 + ser2

Cambodia       2.0
China          NaN
Japan          NaN
South Korea    4.0
USA            8.0
dtype: float64