In [1]:
d = {'key1':'value', 'key2':123}

In [2]:
d['key2']

123

In [3]:
d = {'key':[1,2,3]}

In [4]:
d['key'][1]

2

In [5]:
d = {'k1':{'innerkey':[1,2,3]}}

In [6]:
d['k1']['innerkey']

[1, 2, 3]

In [9]:
my_tuple = (1,2,3)

In [10]:
my_tuple[0]

1

In [15]:
# Set

{1,2,1,2,3,2,2,2,3,1}

{1, 2, 3}

In [16]:
my_list = [1,2,3,4,1,2,1,1,1,1,3,2,3]

In [17]:
set(my_list)

{1, 2, 3, 4}

In [18]:
s = {1,2,3}

In [21]:
s.add(4)

In [22]:
s

{1, 2, 3, 4}

In [24]:
1 != 1

False

In [25]:
'hi' == 'bye'

False

In [26]:
'hi' == 'high'

False

In [29]:
2 !=3 or 1 !=1

True

In [30]:
2 !=3 and 1 !=1

False

In [31]:
(2 !=3) and (1 !=1) or (1==1)

True

In [32]:
if 1<2:
    print('yep')

yep

In [33]:
if 1>2:
    print('yep')
elif 1==1:
    print('no')

no

In [35]:
if 1>2:
    print('yep')
elif 1!=1:
    print('no')
else :
    print('haha')

haha

# Loop

In [36]:
seq = [1,2,3,4,5]

In [37]:
for item in seq:
    print(item)

1
2
3
4
5

In [40]:
i = 1

while i < 5:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [41]:
for i in range(0,5):
    print('i is {}'.format(i))

i is 0
i is 1
i is 2
i is 3
i is 4

In [42]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
x =[1,2,3,4]

In [47]:
out = []
for num in x:
    out.append(num**2)

In [48]:
out

[1, 4, 9, 16]

In [49]:
my_num = [num**2 for num in x]

In [50]:
my_num

[1, 4, 9, 16]

In [59]:
def my_func(param1 = ' Punreach'):
    print('name = {}'.format(param1))

In [60]:
my_func('hello')

name = hello

In [61]:
my_func()

name =  Punreach

In [62]:
def square(num):
    return num**2

In [63]:
square(2)

4

In [64]:
list(map(square, seq))

[1, 4, 9, 16, 25]

In [65]:
t = lambda var:var*2

In [66]:
t(6)

12

In [67]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [68]:
list(filter(lambda num: num%2 == 0, seq))
# Return elements in seq where num%2 == 0 is true

[2, 4]

In [69]:
s = 'Hello, I am Punreach'

In [70]:
s.split('I')

['Hello, ', ' am Punreach']

In [75]:
d.keys()

dict_keys(['k1'])

In [76]:
my_list

[2, 3, 4, 1, 2, 1, 1, 1, 1, 3, 2, 3]

In [73]:
my_list.pop(0)

1

In [74]:
my_list

[2, 3, 4, 1, 2, 1, 1, 1, 1, 3, 2, 3]

In [78]:
'x' in ['x','y','z']

True

In [79]:
x = [(1,2),(3,4),(4,5)]

In [80]:
for item in  x:
    print(item)

(1, 2)
(3, 4)
(4, 5)

In [81]:
for (a,b) in  x:
    print(a)

1
3
4